<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <title>Jaguarete kaa S.A</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
</head>

<body>
    <!--enacabezado-->
    <header>
        <h1>Jaguarete Kaa S.A</h1>
        <a class="btn btn-primary" href="#" role="button">Iniciar Sesion</a>
        <a class="btn btn-primary" href="#" role="button">Registrarse</a>
        <a class="btn btn-primary" href="#" role="button">Carrito</a>
 

    </header>
    <hr>
    <!--Menu-->
    <nav>
        <ul>
            <li><a class="btn btn-primary" href="#" role="button">Home</a></li>
            <li><a class="btn btn-primary" href="#" role="button">Categorias</a></li>
            <li><a class="btn btn-primary" href="#" role="button">Acerca de...</a></li>
            <li><a class="btn btn-primary" href="#" role="button">Contacto</a></li>
            <li><a class="btn btn-primary" href="#" role="button">Nuevo producto</a></li>
            <li><nav class="navbar navbar-light bg-light">
                <div class="container-fluid">
                  <form class="d-flex">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                  </form>
                </div>
              </nav>
            </li>

        </ul>
    </nav>
    <hr>
    <!--Contenido-->
    <article>
        <h2>Producto</h2>
        <section>Descripcion, imagen</section>

    </article>
    <article>
        <h2>Producto</h2>
        <section>Descripcion, imagen</section>

    </article>
    <article>
        <h2>Producto</h2>
        <section>Descripcion, imagen</section>

    </article>
    <article>
        <section>
            <ul>
                <li>producto</li>
                <li>producto</li>
                <li>producto</li>
                <li>producto</li>
                <li>producto</li>
                <li>producto</li>
                <li>producto</li>
            </ul>
        </section>
    </article>

    <!--Pie de pagina-->
    <hr>
    <footer>
        <h3>Jaguarete Kaa S.A, E-Comerce. Todos los derechos reservados a © Guillermo Matzke y Juan Echagüe ©</h3>

    </footer>
</body>

</html>