<!DOCTYPE html>
  <html lang="es">
  
  <head>
      <meta charset="utf-8">
      <title>Jaguarete kaa S.A</title>
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
  </head>
  
  <body>
      <!--enacabezado-->
      <header>
          <h1>Jaguarete Kaa S.A</h1>
   
  
      </header>
      <hr>
      <!--Menu-->
      <nav>
          <ul>
            <li><a class="btn btn-primary" href="#" role="button">Home</a></li>
            <li><a class="btn btn-primary" href="#" role="button">Categorias</a></li>
            <li><a class="btn btn-primary" href="#" role="button">Acerca de...</a></li>
            <li><a class="btn btn-primary" href="#" role="button">Contacto</a></li>
            <li><a class="btn btn-primary" href="#" role="button">Nuevo producto</a></li>
            <li><nav class="navbar navbar-light bg-light">
              <div class="container-fluid">
                <form class="d-flex">
                  <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                  <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
              </div>
            </nav>
          </li>
          </ul>
      </nav>
      <hr>

      <!--Contenido-->
      <article>
        <h1>Acceder</h1>
        <div class="form-floating mb-3">
          <label for="floatingInput">Email:</label>
          <input type="email" class="form-control" id="floatingInput" placeholder="E-mail@ejemplo.com">
          
        </div>
        <div class="form-floating">
          <label for="floatingPassword">Contraseña:</label>
          <input type="Contraseña" class="form-control" id="floatingPassword" placeholder="Contraseña">
         
        </div>
        <button type="button" class="btn btn-primary">Login</button>
        <a class="btn btn-primary" href="#" role="button">RegIstrarse</a>
      </article>
   
        <!--Pie de pagina-->
      <hr>
      <footer>
          <h3>Jaguarete Kaa S.A, E-Comerce. Todos los derechos reservados a © Guillermo Matzke y Juan Echagüe ©</h3>
  
      </footer>
  </body>
  
  </html>