{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <title>Jaguarete ka'a S.A</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Tienda de Jaguarete Kaa S.A">
    <meta name="keyword" content="Tienda Jaguarete">
    <meta name="author" content="Guillermo Matzke y Juan Echagüe">
    <link rel="stylesheet" href="{% static 'css/estilos.css' %}">
    <link rel="icon" href="{% static 'img/icono.ico' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
</head>

<body>
    <section class="pagina">
        <!--enacabezado-->
        <header class="row">
            <section class="col-xs-7 col-sm-7 col-md-8 col-lg-8">
            <img class="logo" src="{% static 'img/logo.png' %}">
            </section>
            <section class="barra1 col-xs-5 col-sm-5 col-md-4 col-lg-4">
            <ul class="Menu">
                <li><a class="btn btn-primary" href="{% url 'pag3' %}" role="button">Iniciar Sesion</a></li>
            <li><a class="btn btn-primary" href="{% url 'crear_usuario' %}" role="button">Registrarse</a></li>
            <li><a class="btn btn-primary" href="{% url 'carrito' %}" role="button" ><img class="carrito" src="{% static 'img/carro.png' %}"></a></li>
        </ul>
        </section>

    </header>
    <hr>
    <!--Menu-->
    <section class="nav">
    <nav>
        
        <ul class="barra2">
            <li><a class="btn btn-primary" href="{% url 'pag1' %}" role="button">Home</a></li>
                <li><a class="btn btn-primary" href="#" role="button">Categorias</a></li>
                <li><a class="btn btn-primary" href="{% url 'pag2' %}" role="button">Acerca de...</a></li>
                <li><a class="btn btn-primary" href="{% url 'pag1' %}" role="button">Contacto</a></li>
                <li><a class="btn btn-primary" href="{% url 'nuevo_producto' %}" role="button">Nuevo producto</a></li>
                <li><nav class="navbar navbar-light bg-light">
                    <div>
                      <form class="d-flex">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success" href type="submit">Search</button>
                      </form>
                    </div>
                  </nav>
                </li>
    
            </ul>
        </nav>
        </section>
        <hr>
        <!--Contenido-->
        <article>
            <h2>Producto</h2>
            <section>Descripcion, imagen</section>
    
        </article>
        <!--Pie de pagina-->
        <hr>
        <footer class="pie">
            <h3 class="pie">Jaguarete Ka'a S.A, E-Comerce. Todos los derechos reservados a © Guillermo Matzke y Juan Echagüe ©</h3>
    
        </footer>
    </section>
</body>
    

</html>