
.pagina{
	background-color: rgb(97, 192, 102);
}
.logo{
	max-height: 40vw;
	max-width: 40vw;
}
.Menu>li{
	position: relative;
	display: inline-block;
	padding: auto;
    margin-top: 3.2vw ;
}
.Menu>li>a{
	display: block;
    padding: 0.1vw 0.4vw;
    color: #ffffff;
    text-decoration: none;
    font-size: 2.3vw;
    font-family: Agency FB;
}
.carrito{
	max-height: 2.5vw;
	max-width: 2.5vw;
}
.nav{
	position: relative;
	display: inline-block;
	background-color: white;
	border-radius: 5px;
}
.barra2>li{
	position: relative;
	display: inline-block;
	margin-top: 1.2vw ;
}
.barra2>li>a{
	display: block;
    padding: 0.05vw 0.4vw;
    color: #ffffff;
    text-decoration: none;
    font-size: 1.6vw;
    font-family: Agency FB;
}
.pie{
	background-color: #3f3f3f6b;
	font-size: 2vw;
}
.log{
    background-color: #79f141;
    padding: 0.05vw 0.4vw;
    text-align: center;
    margin: 6vw;
    border-radius: 20px;
}
.acceso{
    color: #000000;
    font-size: 2.3vw;
    font-family: Agency FB;
}
.logg{
    margin: 4vw;
}
.s1{
    color: #000000;
    font-size: 2.3vw;
    font-family: Agency FB;
}